<footer>
    <div class="container">
        <div class="footer-item">
            <a href="#">Политика конфиденциальности</a>

            <span>ООО "ЛайтБайт"<br>
            ИНН/КПП 3664246448/366401001</span>

            <span>ОГРН 1203600012263 от 8 апреля<br> 2020 г</span>
        </div>
        <div class="footer-item">
            <span>Юридический адрес:</span>
            <span> 394018, Воронежская область, г.</span>
            <span>Воронеж,<br>
                улица Свободы, дом 7 помещение I,<br>
                литера а, офис 3</span>
        </div>
        <div class="footer-item">
            <span>Информация, представленная на сайте, является публичной офертой</span>
        </div>
    </div>
</footer>