@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: url(../img/bg.jpg) repeat-y center top;
    background-size: cover;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 0;
}

// ul li::before {
//     content: '';
//     display: block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: 5px;
//     left: 0;
//     background: #000;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
// }
button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    font-weight: bold;
    font-size: 57px;
    line-height: 113.59%;
    color: #FFFFFF;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.container {
    position: relative;
    max-width: 1174px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

.ov-hidden {
    overflow: hidden;
}

.btn-orange {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    color: #FFFFFF;
    padding: 22px 0 23px 0;
    text-align: center;
    background: #FF9A23;
    border-radius: 55px;
}

.btn-white {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    padding: 22px 0 23px 0;
    color: #444444;
    text-align: center;
    background: #fff;
    border-radius: 55px;
}

.btn-red {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    color: #FFFFFF;
    padding: 22px 0 23px 0;
    text-align: center;
    background: #FA2D00;
    border-radius: 55px;
}

header {
    padding: 86px 0 75px 0;
    .container {
        max-width: 1208px;
    }
}

h1 {
    font-family: 'Circe', sans-serif;
    margin-top: 0;
    font-weight: 800;
    font-size: 75px;
    line-height: 100.59%;
    color: #323232;
    margin-bottom: 37px;
    span {
        color: #FF9A23;
    }
}

.top-wrap {
    position: relative;
    padding: 0 0 371px 0;
    .container {
        max-width: 1184px;
    }
    .btn-orange {
        max-width: 318px;
        width: 100%;
    }
}

.top-img {
    position: absolute;
    top: -200px;
    right: 107px;
    max-width: inherit;
    max-height: inherit;
    z-index: -1;
}

.car-img {
    position: absolute;
    top: 150px;
    right: 38px;
    max-width: inherit;
    max-height: inherit;
    z-index: -1;
}

.stol-img {
    position: absolute;
    top: 326px;
    left: 0;
    max-width: inherit;
    max-height: inherit;
    z-index: 1;
}

.top-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn-orange {
        margin-bottom: 54px;
    }
    span {
        font-weight: bold;
        font-size: 24px;
        line-height: 100.59%;
        color: #313131;
        margin-left: 121px;
    }
}

.how-participate {
    position: relative;
    padding: 162px 0 135px 0;
    background: #FF9A23;
    z-index: 3;
    &::after {
        content: '';
        display: block;
        width: 144px;
        height: 89px;
        background: url(../img/tringle.svg) no-repeat center;
        position: absolute;
        top: -47px;
        left: 57%;
    }
    .title {
        margin-bottom: 70px;
    }
    .btn-white {
        margin-top: 82px;
        max-width: 342px;
        width: 100%;
    }
}

.participate-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.participate-item {
    min-width: 222px;
    max-height: 265px;
    margin-right: 82px;
    &:last-child {
        margin-right: 0;
    }
}

.participate-item-img {
    margin-bottom: 32px;
}

.participate-item-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 101.6%;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.participate-item-desc {
    font-family: 'Circe', sans-serif;
    white-space: nowrap;
    font-weight: normal;
    font-size: 24px;
    line-height: 92.59%;
    color: #FFFFFF;
    a {
        font-family: 'Circe', sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 92.59%;
        color: #FFFFFF;
        text-decoration: underline;
    }
}

.cashback-price {
    padding: 150px 0 84px 0;
    .title {
        color: #404040;
        margin-bottom: 46px;
    }
    .desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 92.59%;
        color: #404040;
    }
    .btn-red {
        position: relative;
        z-index: 15;
        max-width: 337px;
        width: 100%;
        margin: -48px 0 0 0;
    }
}

.cashback-price-box {
    position: relative;
}

.line {
    position: absolute;
    z-index: 3;
    span {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 101.6%;
        color: #444444;
    }
    img.img-line {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
    }
    img.img-label {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
        z-index: 5;
    }
    img.price {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
        z-index: 7;
    }
}

.line-1 {
    top: 71px;
    left: 50.55%;
    img.img-line {
        top: 48px;
        left: -55px;
    }
    img.img-label {
        display: block;
        top: 96px;
        left: -64px;
    }
    img.price {
        display: block;
        top: 115px;
        left: -19px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -98px;
        left: -60px;
    }
}

.line-2 {
    top: 215px;
    left: 79.55%;
    img.img-line {
        top: 32px;
        left: -60px;
    }
    img.img-label {
        display: block;
        top: 47px;
        left: -64px;
    }
    img.price {
        display: block;
        top: 66px;
        left: -18px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -65px;
        left: -64px;
    }
}

.line-3 {
    top: 450px;
    left: 81%;
    img.img-line {
        top: -17px;
        left: -174px;
    }
    img.img-label {
        display: block;
        top: -46px;
        left: -253px;
    }
    img.price {
        display: block;
        top: -29px;
        left: -238px;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: 45px;
        left: -179px;
    }
}

.line-4 {
    top: 416px;
    left: 4.3%;
    img.img-line {
        top: 0px;
        left: 0px;
    }
    img.img-label {
        display: block;
        top: -34px;
        left: 250px;
    }
    img.price {
        display: block;
        top: 5px;
        left: 304px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: 27px;
        left: 267px;
    }
}

.line-5 {
    top: 207px;
    left: 4.3%;
    img.img-line {
        top: 52px;
        left: 0px;
    }
    img.img-label {
        display: block;
        top: 85px;
        left: 309px;
    }
    img.price {
        display: block;
        top: 117px;
        left: 353px;
        transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -92px;
        left: 314px;
    }
}

.cashback-steps {
    padding: 0 0 155px 0;
    .title {
        color: #404040;
        margin: 89px 0 0 0;
        margin-bottom: 95px;
    }
}

.num {
    font-family: 'Circe', serif;
    font-weight: 800;
    font-size: 82px;
    line-height: 113.59%;
    color: #D2D2D2;
    margin-bottom: 15px;
}

.step {
    b {
        position: relative;
        font-weight: normal;
        font-size: 24px;
        line-height: 113.59%;
        color: #404040;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -26px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake.svg) no-repeat center;
        }
        span {
            font-weight: 700;
        }
    }
}

.step-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 110px;
}

.step-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.step-1__left {
    width: 41%;
}

.step-2__left {
    width: 53%;
    position: relative;
    .circle {
        position: absolute;
        right: 8px;
        top: -49px;
    }
    .brand {
        position: absolute;
        left: 26px;
        bottom: 33px;
    }
    .circle-text {
        position: absolute;
        right: -104px;
        top: -161px;
        z-index: 3;
        max-width: inherit;
        max-height: inherit;
    }
}

.circle {
    font-family: 'Circe', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 102px;
    line-height: 113.59%;
    color: #FFFFFF;
    width: 270px;
    height: 270px;
    background: #D12702;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    sub {
        font-size: 47px;
        line-height: 54px;
    }
}

.step-1__right {
    width: 53%;
    position: relative;
    .circle {
        position: absolute;
        right: 8px;
        top: -49px;
    }
    .brand {
        position: absolute;
        left: 26px;
        bottom: 33px;
    }
    .circle-text {
        position: absolute;
        right: -104px;
        top: -161px;
        z-index: 3;
        max-width: inherit;
        max-height: inherit;
    }
}

.step-2__right {
    width: 42.5%;
    padding: 74px 0 0 0;
    .btn-red {
        margin-top: 123px;
        max-width: 378px;
        width: 100%;
    }
    .num {
        margin-bottom: 24px;
    }
    b {
        font-family: 'Circe', sans-serif;
        &::after {
            bottom: -99px;
        }
    }
    span {
        font-family: 'Montserat', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }
    small {
        display: block;
        margin-top: 15px;
        font-size: 19.8px;
        font-family: 'Montserat', sans-serif;
        font-weight: 700;
        line-height: 21.35px;
    }
}

.step-2__left {
    .circle-text {
        top: 165px;
        right: 43px;
    }
    .circle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FF9A23;
        right: 116px;
        top: 212px;
        img {
            display: block;
        }
    }
}

.gift-car {
    position: relative;
    padding: 166px 0 96px 0;
    background: #D12702;
    z-index: 5;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(../img/dots.png) no-repeat center;
        z-index: 2;
        background-size: cover;
    }
    .title {
        line-height: 52px;
        margin-bottom: 55px;
    }
}

.gift-car-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    span {
        font-weight: normal;
        font-size: 24px;
        line-height: 117.6%;
        color: #FFFFFF;
        b {
            font-weight: 700;
        }
    }
    .btn-white {
        position: relative;
        z-index: 15;
        max-width: 342px;
        width: 100%;
        margin: 78px 0 0 0;
    }
}

.gift-car-box__left {
    width: 48%;
    position: relative;
}

.car-big {
    position: absolute;
    top: 337px;
    left: -283px;
    z-index: 5;
    max-width: inherit;
    max-height: inherit;
}

.car-small {
    position: absolute;
    top: 195px;
    left: 217px;
    z-index: 5;
    max-width: inherit;
    max-height: inherit;
}

.gift-car-box__right {
    width: 41.1%;
    span {
        position: relative;
        display: block;
        margin-bottom: 171px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -70px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake-white.svg) no-repeat center;
        }
    }
    b {
        font-size: 24px;
    }
}

.dates-item {
    margin-bottom: 35px;
    i {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }
    b {
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        font-weight: 700;
    }
}

.bonus-price {
    position: absolute;
    top: 33%;
    left: 283px;
    font-weight: 800;
    font-size: 59px;
    line-height: 130.6%;
    color: #464646;
}

.bonus-price-last {
    top: 39.5%;
}

.cashback-bonus {
    padding: 327px 0 0 0;
    .title {
        color: #333333;
        margin-bottom: 93px;
    }
}

.cashback-bonus-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cashback-bonus__left {
    padding: 37px 0 0 0;
    width: 40.5%;
    .subtitle {
        font-weight: bold;
        font-size: 30px;
        line-height: 113.59%;
        color: #494949;
    }
    .bonus-price {
        color: #464646;
    }
}

.cashback-bonus__right {
    width: 52.8%;
    background: #D12702;
    border-radius: 11px;
    padding: 35px 37px 59px 69px;
    .subtitle {
        font-weight: bold;
        font-size: 30px;
        line-height: 113.59%;
        color: #fff;
    }
    .bonus-text span,
    .bonus-text b,
    .bonus-desc,
    .bonus-desc b {
        color: #fff;
    }
    .bonus-price {
        color: #fff;
    }
    .bonus-calc i {
        color: #fff;
    }
    .bonus-total-price {
        color: #fff;
    }
}

.bonus-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.bonus-text {
    max-width: 350px;
    width: 100%;
    margin-bottom: 53px;
    span {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 130.6%;
        color: #494949;
        margin-bottom: 33px;
    }
    b {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 130.6%;
        color: #494949;
    }
}

.bonus-calc {
    width: fit-content;
    margin-bottom: 108px;
    i {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 130.6%;
        color: #494949;
        margin-bottom: 8px;
    }
}

.bonus-calc-elem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bonus-img {
    position: relative;
    overflow: hidden;
    width: 109px;
    height: 109px;
    background: #FF9A23;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 24px;
    img {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.bonus-desc {
    font-family: 'Circe', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 130.6%;
    text-align: center;
    color: #494949;
    b {
        font-family: 'Montserat', sans-serif;
        display: block;
        font-weight: 700;
    }
}

.skob {
    position: absolute;
    top: 50%;
    left: 181px;
    transform: translateY(-61%);
    -webkit-transform: translateY(-61%);
    -moz-transform: translateY(-61%);
    -ms-transform: translateY(-61%);
    -o-transform: translateY(-61%);
}

.bonus-total-price {
    font-weight: 800;
    font-size: 132px;
    line-height: 130.6%;
    color: #464646;
    margin: 0 0 0 24px;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #FF7A00;
    }
    .btn-white:hover {
        background: #EFEFEF;
    }
    .btn-red:hover {
        background: #DE0000;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}

// @import 'media';