@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: url(../img/bg.jpg) repeat-y center top;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    border: none;
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7), #FFFFFF;
    height: 72px;
    padding: 0 23px;
    border-radius: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 0;
}

// ul li::before {
//     content: '';
//     display: block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: 5px;
//     left: 0;
//     background: #000;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
// }
ol {
    li {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 148.1%;
        color: #3F3F3F;
    }
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title,
h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 57px;
    line-height: 113.59%;
    color: #FFFFFF;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.container {
    position: relative;
    max-width: 1174px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

.ov-hidden {
    overflow: hidden;
}

.btn-orange {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    color: #FFFFFF;
    padding: 22px 0 23px 0;
    text-align: center;
    background: #FF9A23;
    border-radius: 55px;
}

.btn-white {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    padding: 22px 0 23px 0;
    color: #444444;
    text-align: center;
    background: #fff;
    border-radius: 55px;
}

.btn-red {
    display: block;
    font-weight: bold;
    font-size: 21px;
    line-height: 113.59%;
    color: #FFFFFF;
    padding: 22px 0 23px 0;
    text-align: center;
    background: #FA2D00;
    border-radius: 55px;
}

header {
    padding: 86px 0 75px 0;
    .container {
        max-width: 1208px;
    }
}

h1 {
    font-family: 'Circe', sans-serif;
    margin-top: 0;
    font-weight: 800;
    font-size: 75px;
    line-height: 100.59%;
    color: #323232;
    margin-bottom: 37px;
    span {
        color: #FF9A23;
    }
    i {
        font-style: normal;
    }
}

.top-wrap {
    position: relative;
    padding: 0 0 371px 0;
    .container {
        max-width: 1184px;
    }
    .btn-orange {
        max-width: 318px;
        width: 100%;
    }
}

.top-img {
    position: absolute;
    top: -200px;
    right: 107px;
    max-width: inherit;
    max-height: inherit;
    z-index: -1;
}

.car-img {
    position: absolute;
    top: 150px;
    right: 38px;
    max-width: inherit;
    max-height: inherit;
    z-index: -1;
}

.stol-img {
    position: absolute;
    top: 326px;
    left: 0;
    max-width: inherit;
    max-height: inherit;
    z-index: 1;
}

.top-btns {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn-orange {
        margin-bottom: 54px;
    }
    span {
        font-weight: bold;
        font-size: 24px;
        line-height: 100.59%;
        color: #313131;
        margin-left: 121px;
    }
}

.how-participate {
    position: relative;
    padding: 162px 0 135px 0;
    background: #FF9A23;
    z-index: 3;
    &::after {
        content: '';
        display: block;
        width: 144px;
        height: 89px;
        background: url(../img/tringle.svg) no-repeat center;
        position: absolute;
        top: -47px;
        left: 57%;
    }
    .title {
        margin-bottom: 70px;
    }
    .btn-white {
        margin-top: 82px;
        max-width: 342px;
        width: 100%;
    }
}

.participate-items {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.participate-item {
    min-width: 222px;
    max-height: 265px;
    margin-right: 82px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &:last-child {
        margin-right: 0;
    }
}

.participate-item-img {
    margin-bottom: 32px;
    margin-top: auto;
}

.participate-item-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 101.6%;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.participate-item-desc {
    font-family: 'Circe', sans-serif;
    white-space: nowrap;
    font-weight: normal;
    font-size: 24px;
    line-height: 92.59%;
    color: #FFFFFF;
    a {
        font-family: 'Circe', sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 92.59%;
        color: #FFFFFF;
        text-decoration: underline;
    }
}

.cashback-price {
    padding: 150px 0 84px 0;
    .title {
        color: #404040;
        margin-bottom: 46px;
    }
    .desc {
        font-weight: 500;
        font-size: 20px;
        line-height: 92.59%;
        color: #404040;
    }
    .btn-red {
        position: relative;
        z-index: 15;
        max-width: 337px;
        width: 100%;
        margin: -48px 0 0 0;
    }
}

.cashback-price-box {
    position: relative;
}

.line {
    position: absolute;
    z-index: 3;
    span {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 101.6%;
        color: #444444;
    }
    img.img-line {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
    }
    img.img-label {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
        z-index: 5;
    }
    img.price {
        position: absolute;
        max-width: inherit;
        max-height: inherit;
        z-index: 7;
    }
}

.line-1 {
    top: 71px;
    left: 50.55%;
    img.img-line {
        top: 48px;
        left: -55px;
    }
    img.img-label {
        display: block;
        top: 96px;
        left: -64px;
    }
    img.price {
        display: block;
        top: 115px;
        left: -19px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -98px;
        left: -60px;
    }
}

.line-2 {
    top: 215px;
    left: 79.55%;
    img.img-line {
        top: 32px;
        left: -60px;
    }
    img.img-label {
        display: block;
        top: 47px;
        left: -64px;
    }
    img.price {
        display: block;
        top: 66px;
        left: -18px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -65px;
        left: -64px;
    }
}

.line-3 {
    top: 450px;
    left: 81%;
    img.img-line {
        top: -17px;
        left: -174px;
    }
    img.img-label {
        display: block;
        top: -46px;
        left: -253px;
    }
    img.price {
        display: block;
        top: -29px;
        left: -238px;
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: 45px;
        left: -179px;
    }
}

.line-4 {
    top: 416px;
    left: 4.3%;
    img.img-line {
        top: 0px;
        left: 0px;
    }
    img.img-label {
        display: block;
        top: -34px;
        left: 250px;
    }
    img.price {
        display: block;
        top: 5px;
        left: 304px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: 27px;
        left: 267px;
    }
}

.line-5 {
    top: 207px;
    left: 4.3%;
    img.img-line {
        top: 52px;
        left: 0px;
    }
    img.img-label {
        display: block;
        top: 85px;
        left: 309px;
    }
    img.price {
        display: block;
        top: 117px;
        left: 353px;
        transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #444444;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        bottom: -92px;
        left: 314px;
    }
}

.cashback-steps {
    padding: 0 0 155px 0;
    .title {
        color: #404040;
        margin: 89px 0 0 0;
        margin-bottom: 95px;
    }
}

.num {
    font-family: 'Circe', serif;
    font-weight: 800;
    font-size: 82px;
    line-height: 113.59%;
    color: #D2D2D2;
    margin-bottom: 15px;
}

.step {
    b {
        position: relative;
        font-weight: normal;
        font-size: 24px;
        line-height: 113.59%;
        color: #404040;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -26px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake.svg) no-repeat center;
        }
        span {
            font-weight: 700;
        }
    }
}

.step-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 110px;
}

.step-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.step-1__left {
    width: 41%;
}

.step-2__left {
    width: 53%;
    position: relative;
    .circle {
        position: absolute;
        right: 8px;
        top: -49px;
    }
    .brand {
        position: absolute;
        left: 26px;
        bottom: 33px;
    }
    .circle-text {
        position: absolute;
        right: -104px;
        top: -161px;
        z-index: 3;
        max-width: inherit;
        max-height: inherit;
    }
}

.circle {
    font-family: 'Circe', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 102px;
    line-height: 113.59%;
    color: #FFFFFF;
    width: 270px;
    height: 270px;
    background: #D12702;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    sub {
        font-size: 47px;
        line-height: 54px;
    }
}

.step-1__right {
    width: 53%;
    position: relative;
    .circle {
        position: absolute;
        right: 8px;
        top: -49px;
    }
    .brand {
        position: absolute;
        left: 26px;
        bottom: 33px;
    }
    .circle-text {
        position: absolute;
        right: -104px;
        top: -161px;
        z-index: 3;
        max-width: inherit;
        max-height: inherit;
    }
}

.step-2__right {
    width: 42.5%;
    padding: 74px 0 0 0;
    .btn-red {
        margin-top: 123px;
        max-width: 378px;
        width: 100%;
    }
    .num {
        margin-bottom: 24px;
    }
    b {
        font-family: 'Circe', sans-serif;
        &::after {
            bottom: -99px;
        }
    }
    span {
        font-family: 'Montserat', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }
    small {
        display: block;
        margin-top: 15px;
        font-size: 19.8px;
        font-family: 'Montserat', sans-serif;
        font-weight: 700;
        line-height: 21.35px;
    }
}

.step-2__left {
    .circle-text {
        top: 165px;
        right: 43px;
    }
    .circle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FF9A23;
        right: 116px;
        top: 212px;
        img {
            display: block;
        }
    }
}

.gift-car {
    position: relative;
    padding: 166px 0 96px 0;
    background: #D12702;
    z-index: 5;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(../img/dots.png) no-repeat center;
        z-index: 2;
        background-size: cover;
    }
    .title {
        line-height: 52px;
        margin-bottom: 55px;
    }
}

.gift-car-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    span {
        font-weight: normal;
        font-size: 24px;
        line-height: 117.6%;
        color: #FFFFFF;
        b {
            font-weight: 700;
        }
    }
    .btn-white {
        position: relative;
        z-index: 15;
        max-width: 342px;
        width: 100%;
        margin: 78px 0 0 0;
    }
}

.gift-car-box__left {
    width: 48%;
    position: relative;
}

.car-big {
    position: absolute;
    top: 337px;
    left: -283px;
    z-index: 5;
    max-width: inherit;
    max-height: inherit;
}

.car-small {
    position: absolute;
    top: 195px;
    left: 217px;
    z-index: 5;
    max-width: inherit;
    max-height: inherit;
}

.gift-car-box__right {
    width: 41.1%;
    span {
        position: relative;
        display: block;
        margin-bottom: 171px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -70px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake-white.svg) no-repeat center;
        }
    }
    b {
        font-size: 24px;
    }
}

.dates-item {
    margin-bottom: 35px;
    i {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }
    b {
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        font-weight: 700;
    }
}

.bonus-price {
    position: absolute;
    top: 33%;
    left: 283px;
    font-weight: 800;
    font-size: 59px;
    line-height: 130.6%;
    color: #464646;
}

.bonus-price-last {
    top: 39.5%;
}

.cashback-bonus {
    padding: 327px 0 0 0;
    .title {
        color: #333333;
        margin-bottom: 93px;
    }
}

.cashback-bonus-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cashback-bonus__left {
    padding: 37px 0 0 0;
    width: 40.5%;
    .subtitle {
        font-weight: bold;
        font-size: 30px;
        line-height: 113.59%;
        color: #494949;
    }
    .bonus-price {
        color: #464646;
    }
}

.cashback-bonus__right {
    width: 52.8%;
    background: #D12702;
    border-radius: 11px;
    padding: 35px 37px 59px 69px;
    .subtitle {
        font-weight: bold;
        font-size: 30px;
        line-height: 157.59%;
        color: #fff;
    }
    .bonus-text span,
    .bonus-text b,
    .bonus-desc,
    .bonus-desc b {
        color: #fff;
    }
    .bonus-price {
        color: #fff;
    }
    .bonus-calc i {
        color: #fff;
        margin: 1px;
        line-height: 1;
    }
    .bonus-total-price {
        color: #fff;
        line-height: 158.6%;
    }
    .bonus-top {
        margin-bottom: 41px;
    }
}

.bonus-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.bonus-text {
    max-width: 350px;
    width: 100%;
    margin-bottom: 53px;
    span {
        display: block;
        font-weight: 500;
        font-size: 22px;
        line-height: 130.6%;
        color: #494949;
        margin-bottom: 33px;
    }
    b {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 130.6%;
        color: #494949;
    }
}

.bonus-calc {
    width: fit-content;
    margin-bottom: 108px;
    i {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 130.6%;
        color: #494949;
        margin-bottom: 8px;
    }
}

.bonus-calc-elem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bonus-img {
    position: relative;
    overflow: hidden;
    width: 109px;
    height: 109px;
    background: #FF9A23;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 24px;
    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.bonus-desc {
    font-family: 'Circe', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 130.6%;
    text-align: center;
    color: #494949;
    b {
        font-family: 'Montserat', sans-serif;
        display: block;
        font-weight: 700;
    }
}

.skob {
    position: absolute;
    top: 50%;
    left: 181px;
    transform: translateY(-61%);
    -webkit-transform: translateY(-61%);
    -moz-transform: translateY(-61%);
    -ms-transform: translateY(-61%);
    -o-transform: translateY(-61%);
}

.bonus-total-price {
    font-weight: 800;
    font-size: 132px;
    line-height: 130.6%;
    color: #464646;
    margin: 0 0 0 24px;
}

.questions {
    padding: 221px 0 85px 0;
    .title {
        position: relative;
        margin-bottom: 81px;
        color: #454545;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -67px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake.svg) no-repeat center;
        }
    }
}

.questions-item-hide {
    max-width: 681px;
    width: 100%;
    position: relative;
    display: none;
    padding: 0 0 0 26px;
    margin: 50px 0 82px 120px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
        width: 4px;
        background: #C42047;
        border-radius: 6px;
        transform: translateY(-50%);
    }
    p {
        font-weight: bold;
        font-size: 20px;
        line-height: 148.1%;
        color: #3F3F3F;
        a {
            text-decoration: underline;
        }
    }
}

.questions-item {
    position: relative;
    padding: 0 0 0 0;
    margin-bottom: 1.5px;
}

.questions-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 223.6%;
    color: #494949;
}

.questions-item-show {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 64px;
    b {
        position: absolute;
        left: 0;
        top: 14px;
        display: block;
        background-color: #FFFFFF;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-image: url(../img/plus.svg);
        background-position: center;
        background-repeat: no-repeat;
        @include tr2;
    }
}

.questions-item.active {
    b {
        background-image: url(../img/minus.svg);
    }
    // .questions-item-hide {
    //     display: block;
    // }
}

.form-box {
    padding: 132px 63px 57px 63px;
    background: #FFFFFF;
    border-radius: 11px;
    margin-bottom: 92px;
    .title {
        position: relative;
        font-size: 47px;
        color: #454545;
        margin-bottom: 28px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -57px;
            left: 0;
            width: 62px;
            height: 12px;
            background: url(../img/snake.svg) no-repeat center;
        }
    }
    .desc {
        font-weight: 500;
        font-size: 24px;
        line-height: 117.6%;
        color: #606060;
        margin-bottom: 61px;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    input {
        width: 48.685%;
        font-weight: 500;
        font-size: 18px;
        line-height: 113.59%;
        color: #15355C;
        margin-bottom: 16px;
    }
    textarea {
        width: 100%;
        outline: none;
        resize: none;
        border: none;
        padding: 29px 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 113.59%;
        color: #15355C;
        background: linear-gradient(0deg, #F7F7F7, #F7F7F7), #FFFFFF;
        border-radius: 9px;
        min-height: 161px;
        box-sizing: border-box;
        margin-bottom: 71px;
    }
    .btn-red {
        display: block;
        max-width: 372px;
        width: 100%;
        margin-bottom: 78px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contacts-item {
    width: 33%;
    margin-bottom: 53px;
    span {
        display: block;
        font-weight: normal;
        font-size: 21px;
        line-height: 117.6%;
        color: #606060;
        margin-bottom: 17px;
    }
    a {
        font-weight: 800;
        font-size: 38px;
        line-height: 117.6%;
        color: #606060;
    }
    .whats {
        background: url(../img/whatsapp.svg) no-repeat left center;
        padding: 0 0 0 52px;
    }
    .teleg {
        background: url(../img/telegram.svg) no-repeat left center;
        padding: 0 0 0 52px;
        text-decoration-line: underline;
        color: #0068B4;
    }
}

.contacts-item-big {
    width: 52%;
}

.partners-items {
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a {
        display: block;
        margin-bottom: 42px;
    }
}

footer {
    padding: 57px 0 0 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.footer-item {
    &:first-child {
        max-width: 242px;
        width: 100%;
        margin-right: 22px;
    }
    &:last-child {
        text-align: left;
        max-width: 271px;
        width: 100%;
    }
    a {
        display: block;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #353535;
    }
    span {
        display: block;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #353535;
    }
}

.line-top {
    position: absolute;
    top: 119px;
    left: 6px;
    z-index: 10;
    span {
        font-family: 'Circe', sans-serif;
        font-weight: 800;
        font-size: 29px;
        line-height: 100.59%;
        color: #313131;
        margin-left: 0!important;
    }
    img {
        position: absolute;
        top: 36px;
        max-width: inherit;
        max-height: inherit;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 13px;
        height: 13px;
        background: #313131;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        right: -63px;
        bottom: -76px;
    }
}

.bonus-img img.bonus-lab {
    position: absolute;
    left: inherit;
    bottom: inherit;
    top: -6px;
    right: -19px;
}

.bonus-img img.price-bonus {
    position: absolute;
}

.bonus-top-btn-mob {
    @include tr2;
    position: absolute;
    bottom: -8px;
    right: 2px;
    display: none;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/white-arr-small.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.cashback-bonus__left .bonus-top-btn-mob {
    background-color: #D12702;
}

.cashback-bonus__right .bonus-top-btn-mob {
    background-color: #FF9A23;
}

.active .bonus-top-btn-mob {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #FF7A00;
    }
    .btn-white:hover {
        background: #EFEFEF;
    }
    .btn-red:hover {
        background: #DE0000;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1650px) {
    .car-img {
        right: -105px;
    }
    .car-big {
        top: 405px;
        left: 0;
        max-width: 90%;
    }
}

@media screen and (max-width: 1400px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    .car-img {
        right: 150px;
        top: 223px;
        max-width: 40%;
    }
    .stol-img {
        top: 353px;
        max-width: 70%;
    }
    .top-img {
        top: -27px;
        right: 166px;
        max-width: 31%;
    }
    header {
        padding: 45px 0 35px 0;
    }
    .how-participate {
        margin: -60px 0 0 0;
    }
}

@media screen and (max-width: 1200px) {
    a:focus {
        outline: none;
    }
    .participate-items {
        flex-wrap: wrap;
    }
    .participate-item {
        width: 41%;
        margin-bottom: 55px;
    }
    .how-participate {
        padding: 44px 0 77px 0;
    }
    .how-participate .title {
        font-size: 38px;
        line-height: 113.59%;
        margin-bottom: 54px;
    }
    .how-participate .btn-white {
        margin-top: 0;
    }
    .cashback-price {
        padding: 64px 0 84px 0;
    }
    .cashback-price .title {
        font-size: 38px;
        line-height: 113.59%;
    }
    .line-2 {
        left: 77%;
    }
    .step-1__left {
        width: 36%;
    }
    .step-1__right {
        width: 61%;
    }
    .step-1__right .circle {
        right: 82px;
    }
    .step-1__right .circle-text {
        right: -30px;
    }
}

@media screen and (max-width: 1150px) {
    .top-img {
        display: none;
    }
    .logo {
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 23px;
    }
    h1 {
        font-size: 42px;
        line-height: 100.59%;
        text-align: center;
        margin-bottom: 22px;
    }
    header {
        padding: 45px 0 0 0;
    }
    .top-btns {
        flex-direction: column-reverse;
        span {
            width: 100%;
            display: block;
            margin: 0 0 32px 0;
            text-align: center;
        }
    }
    .top-btns .btn-orange {
        margin: 0 auto;
    }
    .car-img {
        right: 0;
        top: 118px;
        max-width: 34%;
    }
    .line-top {
        top: 190px;
        &::after {
            right: -63px;
            bottom: -43px;
        }
    }
    .line {
        position: relative;
        top: initial;
        right: initial;
        left: initial;
        bottom: initial;
        margin-bottom: 58px;
        span {
            font-size: 16px;
            br {
                display: none;
            }
        }
        .img-line {
            display: none;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: -21px;
            left: 0;
            height: 4px;
            background: #444444;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
        &::after {
            content: none;
        }
        .img-label {
            left: 150px;
            right: initial;
        }
    }
    .cashback-price .desc {
        margin-bottom: 0;
    }
    .cashback-price .btn-red {
        margin: 0 0 0 0;
    }
    .line-1 img.img-label {
        top: 6px;
        left: 196px;
    }
    .line-1 img.price {
        top: 25px;
        left: 242px;
    }
    .line-2 img.img-label {
        top: 6px;
        left: 166px;
    }
    .line-2 img.price {
        top: 25px;
        left: 212px;
    }
    .line-3 img.img-label {
        top: 6px;
        left: 216px;
    }
    .line-3 img.price {
        top: 26px;
        left: 262px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    .line-4 img.img-label {
        top: 5px;
        left: 236px;
    }
    .line-4 img.price {
        top: 22px;
        left: 275px;
        transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
        -moz-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        -o-transform: rotate(-18deg);
    }
    .line-5 img.img-label {
        top: 6px;
        left: 206px;
    }
    .line-5 img.price {
        top: 25px;
        left: 252px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    .contacts-item a {
        font-size: 32px;
    }
    .contacts-item span {
        font-size: 18px;
    }
    .contacts-item {
        width: 36%;
    }
    .contacts-item-big {
        width: 50%;
    }
    .questions-title {
        font-size: 22px;
    }
    .questions-item-hide p {
        font-size: 22px;
    }
    .questions-item-show b {
        top: 8px;
    }
    .bonus-text span {
        font-size: 16px;
    }
    .bonus-price {
        font-size: 42px;
        top: 35.5%;
    }
    .bonus-price-last {
        top: 41%;
    }
    .bonus-total-price {
        font-size: 72px;
    }
    .bonus-top {
        flex-direction: column;
        align-items: flex-start;
    }
    .subtitle {
        margin-bottom: 31px;
    }
    .circle {
        width: 145px;
        height: 145px;
        font-size: 64px;
    }
    .circle sub {
        font-size: 30px;
    }
    .step-1__right .circle {
        right: 229px;
        top: 1px;
    }
    .step-1__right .circle-text {
        max-width: 44%;
        top: -81px;
        right: 141px;
    }
    .img-st {
        max-width: 55%;
    }
    .step-1__right .brand {
        bottom: 15px;
    }
    .step-2__left .circle img:first-child {
        width: 45%;
    }
    .step-2__left .circle img:last-child {
        width: 65%;
    }
    .step-2__left .circle-text {
        max-width: 24%;
    }
    .gift-car {
        padding: 67px 0 96px 0;
    }
    .gift-car .title {
        font-size: 38px;
        line-height: 91.09%;
        margin-bottom: 21px;
    }
    .gift-car-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .gift-car-box .btn-white {
        margin: 35px 0 35px 0;
    }
    .car-big {
        top: 591px;
        max-width: 45%;
    }
    .gift-car-box__right {
        width: 100%;
    }
    .gift-car-box__left {
        width: 100%;
    }
    .car-small {
        top: 425px;
        left: initial;
        right: -174px;
    }
    .cashback-bonus {
        padding: 214px 0 0 0;
    }
    .step-2__left img {
        max-width: 70%;
    }
    .cashback-price-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .line-1 {
        order: 2;
        width: 230px;
    }
    .line-2 {
        order: 1;
        width: 226px;
    }
    .line-3 {
        order: 4;
        width: 249px;
    }
    .line-4 {
        order: 5;
        width: 285px;
    }
    .line-5 {
        width: 249px;
        order: 3;
    }
}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 1040px) {
    .step-1__right .circle {
        right: initial;
        left: 165px;
        top: -16px;
    }
    .step-1,
    .step-2 {
        flex-direction: column;
        align-items: flex-start;
    }
    .step-1__left {
        width: 100%;
    }
    .step-2__left .btn-red {
        margin-top: 25px;
    }
    .cashback-steps {
        padding: 0 0 55px 0;
    }
    .step b {
        display: block;
        font-size: 22px;
        margin-bottom: 99px;
    }
    .step b span {
        font-size: 22px;
    }
    .step-2__left {
        width: 100%;
    }
    .step b br {
        display: none;
    }
    .step-1__right .circle-text {
        max-width: 100%;
        width: 244px;
        top: -70px;
        right: initial;
        left: 123px;
    }
    .step-2__left {
        order: 5;
    }
    .step-2__right {
        order: 3;
    }
    .step-2__right .btn-red {
        order: 1;
    }
    .step-2__right {
        width: 100%;
        padding: 0 0 0 0;
    }
    .cashback-steps .title {
        font-size: 38px;
        line-height: 113.59%;
        margin-bottom: 49px;
    }
    .step-2__right b::after {
        bottom: -55px;
    }
    .step-1__right {
        width: 100%;
    }
    .img-st {
        width: 280.31px;
        height: 119.29px;
        max-width: 100%;
    }
    .step-1__right .brand {
        width: 96.82px;
        height: 29.96px;
        left: 15px;
        bottom: 15px;
    }
    .step-1__right .circle {
        background: #FF9A23;
    }
    .step-2__left img {
        max-width: 100%;
        width: 250px;
    }
    .step-2__left .circle {
        right: initial;
        left: 125px;
        top: 141px;
    }
    .step-2__left .circle-text {
        max-width: 100%;
        width: 100px;
        right: initial;
        top: 119px;
        left: 212px;
    }
}

@media screen and (max-width: 991px) {
    .bonus-top-btn-mob {
        display: block;
    }
    .bonus-wrap {
        margin-top: 35px;
    }
    .cashback-bonus-box {
        flex-direction: column;
    }
    .cashback-bonus__left,
    .cashback-bonus__right {
        width: 100%;
        margin-bottom: 21px;
    }
    .questions .title {
        font-size: 38px;
        margin-bottom: 50px;
    }
    .bonus-top {
        margin-bottom: 0;
    }
    .cashback-bonus__left {
        background: #EDEDED;
        border-radius: 11px;
        padding: 29px 19px 29px 19px;
    }
    .cashback-bonus__right {
        border-radius: 11px;
        padding: 29px 27px 19px 27px;
    }
    .cashback-bonus__left .bonus-wrap {
        display: none;
    }
    .participate-item {
        margin-right: 25px;
    }
    .car-img {
        top: 167px;
    }
    .questions-title {
        font-size: 18px;
    }
    .questions-item-show b {
        top: 5px;
    }
    .questions-item-show {
        padding: 0 0 0 53px;
    }
    .questions-item-hide p {
        font-size: 18px;
    }
    .questions-item-hide {
        margin: 30px 0 22px 55px;
    }
    .form-box .title {
        font-size: 31px;
    }
    .cashback-bonus .title {
        font-size: 36px;
        margin-bottom: 42px;
    }
    .form-box {
        padding: 65px 20px 42px 20px;
        background: #FFFFFF;
        margin-bottom: 65px;
    }
    .form-box .desc {
        font-size: 18px;
    }
    .form textarea {
        margin-bottom: 40px;
    }
    .form .btn-red {
        margin-bottom: 49px;
    }
}

@media screen and (max-width: 865px) {
    .contacts-item-big,
    .contacts-item {
        width: 100%;
    }
    .contacts-item .whats {
        padding: 0 0 0 45px;
    }
    .contacts-item a {
        font-size: 28px;
    }
    .contacts-item:last-child {
        margin-bottom: 0;
    }
    .contacts-item .teleg {
        font-size: 24px;
        padding: 2px 0 2px 45px;
    }
    .car-big {
        top: 625px;
        max-width: 65%;
    }
    .container {
        padding: 0 25px;
    }
    .questions-title {
        line-height: 22.88px;
    }
    .questions-item {
        margin-bottom: 25px;
    }
    .footer-item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 35px;
    }
    footer .container {
        flex-wrap: wrap;
    }
    .partners-items {
        flex-direction: column;
        align-items: flex-start;
    }
    .partners-items a:first-child {
        margin-left: -18px;
    }
    .questions-item-show b {
        top: -5px;
    }
}

@media screen and (max-width: 700px) {
    h1 br {
        display: none;
    }
    h1 {
        margin: 0 -15px;
        margin-bottom: 19px;
    }
    h1 i {
        display: none;
    }
    .cashback-price .desc br {
        display: none;
    }
    .cashback-price .title {
        margin-bottom: 22px;
    }
    .stol-img {
        max-width: inherit;
        max-height: inherit;
    }
    .participate-item {
        margin-right: 0;
        width: 100%;
    }
    .contacts-item span {
        margin-bottom: 10px;
    }
    .form input {
        width: 100%;
    }
    .questions-item-hide {
        max-width: initial;
        width: initial;
    }
    .form-box .desc {
        margin-bottom: 30px;
    }
    .cashback-steps .title {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .footer-item {
        width: 100%;
        max-width: 100%;
    }
    .skob {
        height: 202px;
        left: 142px;
    }
    .bonus-price {
        top: 38.5%;
        left: 193px;
        font-size: 34px;
    }
    .bonus-price-last {
        top: 42.5%;
    }
    .bonus-total-price {
        font-size: 95px;
        margin: 0;
    }
    .bonus-calc {
        margin-bottom: 20px;
    }
    .bonus-desc,
    .bonus-text b {
        font-size: 14px;
    }
    .bonus-img {
        width: 83px;
        height: 83px;
    }
    footer {
        padding: 51px 0 50px 0;
    }
    .form-box .title {
        font-size: 28px;
    }
    .form-box .title br,
    .form-box .desc br {
        display: none;
    }
    .form textarea {
        min-height: 264px;
    }
    .car-img {
        top: 201px;
        max-width: 61%;
        right: 0;
    }
    .stol-img {
        top: 344px;
        width: 79%;
    }
    .how-participate {
        margin: -68px 0 0 0;
    }
    .how-participate::after {
        left: 45%;
    }
    .line-top {
        top: 204px;
        left: 0;
    }
    .participate-item {
        margin-bottom: 69px;
    }
    .car-small {
        top: 462px;
        left: initial;
        right: -261px;
    }
    .car-big {
        top: 647px;
        width: 553px;
        left: -250px;
        max-width: initial;
    }
    .cashback-bonus .title br {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .car-small {
        top: 658px;
    }
    .car-big {
        top: 823px;
    }
    .gift-car {
        padding: 67px 0 150px 0;
    }
}

@media screen and (max-width: 365px) {
    .skob {
        left: 116px;
    }
    .bonus-price {
        top: 39.9%;
        left: 170px;
        font-size: 24px;
    }
    .bonus-price-last {
        top: 43.6%;
    }
    .bonus-total-price {
        font-size: 76px;
    }
    .cashback-bonus .title {
        font-size: 28px;
    }
    .car-img {
        top: 260px;
    }
    .contacts-item .whats {
        padding: 5px 0 5px 45px;
    }
    .contacts-item a {
        font-size: 21px;
    }
    .contacts-item .teleg {
        font-size: 19px;
        padding: 5px 0 5px 45px;
    }
    .car-big {
        top: 896px;
        width: 469px;
        left: -187px;
    }
    .car-small {
        top: 750px;
        right: -322px;
    }
    .img-st {
        max-width: 91%;
    }
    .step-1__right .circle {
        left: 124px;
    }
    .step-1__right .circle-text {
        left: 78px;
    }
    .line-top {
        top: 152px;
    }
    .form-box {
        padding: 65px 12px 42px 12px;
    }
    .line {
        width: 235px!important;
    }
    .line-4 {
        width: 287px!important;
    }
}

// @import 'media';